/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
@include font-face("Gilroy", '../fonts/Gilroy-Regular', normal, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Light', 300, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Bold', 600, normal);
@include font-face("Gilroy", '../fonts/Gilroy-SemiBold', 700, normal);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBoldItalic', 900, italic);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBold', 900, normal);

@include font-face("Gotham Pro", '../fonts/GothamPro', normal, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Light', 300, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Medium', 500, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Bold', 600, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Black', 900, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'vendor/slick';


.txt {
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			color: $color_bg;
		}	
	}	
}

.firstScreen {
	background: url('../img/first-bg.jpg') no-repeat center center;
	background-size: cover;
	.container_center {
		position: relative;
	}
	&__content {
		
	}
	&__title {
		margin: 0.4em auto 0.1em;
		font-size: 3.4em;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: $color_dark;
		font-weight: 700;
	}
	&__sub {
		font-size: 3.4em;
		text-transform: uppercase;
		color: $color_warning;
		margin-bottom: 0.8em;
	}
	&__action {

	}
	&__item {
		@extend %clear_a;
		margin-bottom: 2.3em;
		> div {
			float: left;
			margin-right: 3em;
			@extend %clear_a;
			&:last-child {
				.firstScreen {
					&__item {
						&Img {
							img {
								width: 12em;
								top: 0.4em;
								left: -6.5em;
							}
						}
						&Text {
							width: 30em;
						}
					}
				}
			}
		}
		&Img {
			float: left;
			width: 5.7em;
			img {
				position: relative;
				left: -3.9em;
				max-width: none;
				width: 9.4em;
				display: block;
			}
		}
		&Text {
			padding-top: 3.9em;
			line-height: 1.8;
			text-transform: uppercase;
			max-width: 22.8em;
			font-size: 0.87em;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 4.7em;
				left: 4em;
				width: 2em;
				height: 1px;
				background-color: rgba(#000, .3);
			}
		}
	}
	&__action {
		margin-bottom: 8.7em;
		@extend %clear_a;
		&Left {
			float: left;
			font-size: 1.6em;
			margin-right: 1.5em;
			padding-right: 5.6em;
			background: url('../img/50.png') no-repeat right center;
			background-size: 4.3em;
			position: relative;
			b {
				font-size: 1.14em;
				text-transform: uppercase;
				display: block;
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 10.65em;
				height: 5.063em;
				background: url('../img/ellipse-first.png') no-repeat center center;
				background-size: 100%;
				top: 53%;
				left: 90%;
			}
		}
	}
	&__right {
		overflow: hidden;
	}
	&__list {
		position: absolute;
		right: 5em;
		top: -1.6em;
		width: 15.9em;
		text-transform: uppercase;
		&Item {
			padding-left: 3em;
			font-size: 0.8em;
			line-height: 1.9;
			margin-bottom: 2.1em;
			position: relative;
			&:before {
				content: '';
				width: 2em;
				height: 2em;
				background: url('../img/point-icon.svg') no-repeat center center;
				display: block;
				position: absolute;
				top: 1em;
				left: 0;
			}
		}
	}
	.btn {
		background-image: url(../img/btn-top.png);
		width: 27.7em;
		margin-top: -0.5em;
	}
	.btn_danger {}
}

.discount {
	text-align: center;
	background: url('../img/discount-bg.png') no-repeat top 6em center;
	background-size: auto 41em;
	padding: 5em 0;
	.container_center {}
	&__title {
		font-size: 2.188em;
		font-weight: 700;
		margin-bottom: 1.7em;
	}
	&__top {
		font-size: 0.75em;
		text-transform: uppercase;
		padding-bottom: 28.7em;
		@extend %clear_a;
		max-width: 52em;
		margin: 0 auto;
		text-align: left;
	}
	&__left {
		float: left;
		
	}
	&__right {
		float: right;
		
	}
	&__count {
		font-size: 4.01em;
		color: $color_info;
		letter-spacing: 0.028em;
		vertical-align: top;
		text-transform: none;
		margin-bottom: 0.15em;
		font-family: "Gotham Pro";
		font-weight: 400;
		span {
			display: inline-block;
			vertical-align: text-top;
			font-size: 0.6em;
		}
	}
	&__sub {
		font-size: 1.875em;
		color: #3f3e3e;
		font-weight: 700;
		margin-bottom: 0.3em;
		font-family: Gilroy;
	}
	&__info {
		color: $color_dark;
		font-size: 1.6em;
		margin-bottom: 8em;
		font-weight: 300;
		font-family: Gilroy;
	}
}

.section {
	&__title {
		color: $color_dark;
		font-family: Gilroy;
		font-size: 2.8em;
		text-align: center;
		font-weight: 700;
		margin: 0;
		&Sub {
			font-weight: normal;
			
		}
	}
	&__sub {
		color: #767575;
		font-family: Gilroy;
		font-size: 1.563em;
		font-weight: 500;
		text-align: center;
		
	}
}

.package {
	overflow: hidden;
	
	.container_center {}
	&__action {
		@extend %clear_a;
		margin: auto;
		max-width: 63em;
		margin-bottom: 4em;
		&Left {
			background: url('../img/cards.png') no-repeat left center;
			padding-left: 5em;
			margin-right: 1%;
			background-size: auto 100%;
			float: left;
			width: 65%;
			color: #767575;
			font-family: Gilroy;
			font-size: 1.56em;
			line-height: 1.4;
			font-weight: 500;
			padding-top: .1em;
		}
		&Right {
			float: left;
			width: 34%;
			
		}
	}
	.btn {

	}
}

.packageSlider {
	margin-bottom: 4em;
	&__item {
		position: relative;
		margin: 0 2em;
		text-align: center;
		background-color: rgba(69, 73, 76, 0.03);
		box-shadow:  0 0 5.45em rgba(69, 73, 76, 0.1);
		cursor: pointer;
		
		&Wrap {
			padding: 1.8em 1em;
			background: url('../img/package-slide.png') no-repeat center center;
			background-size: 100% 100%;
			position: relative;
			z-index: 1;
			top: 0;
			transition: all .3s;
		}
		&:before,&:after {
			content: '';
			background: url('../img/package-slide.png') no-repeat center center;
			background-size: 100% 100%;
			position: absolute;
			top: 0.4em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: 0.2;
			transition: all .3s;
		}
		&:before {
			left: 1%;
			width: 98%;
			// top: 0.4em;
		}
		&:after {
			left: 2%;
			width: 96%;
			opacity: 0 !important;
			// top: .4em;
		}
	}
	&__name {
		color: #8a8a8a;
		font-family: Gilroy;
		font-size: 1.563em;
		font-weight: 500;
		margin-bottom: 0.9em;
	}
	&__price {
		color: #fec950;
		font-family: Gilroy;
		font-size: 2.063em;
		font-weight: 700;
		margin-bottom: .2em;
		// line-height: 1;
		margin-bottom: 0.8em;
		.rub {
			font-size: 0.6em;
			vertical-align: text-top;
			
		}
	}
	&__old {
		opacity: 0.7;
		color: #000000;
		font-family: Gilroy;
		font-size: 0.638em;
		font-weight: 300;
		// line-height: 4.325em;
		text-decoration: line-through;
		display: inline-block;
		margin-right: .2em;
	}
	&__descr {
		opacity: 0.6;
		color: #000000;
		font-family: "Gotham Pro";
		font-size: 0.813em;
		font-weight: 300;
	}
	.slick {
		&-slide {
			
		}
		&-list {
			overflow: initial;
		}
		&-current {
			.packageSlider {
				&__item {
					&Wrap {
						background-image: url(../img/package-slider-current.png);
					}
				}
			}
			&:hover {
				.packageSlider {
					&__item {
						&Wrap {
							top: -.4em;
						}
					}
				}
				&:before {
					top: 1.1em;
					opacity: 0.3 !important;
				}
				&:after {
					top: 0.7em;
					opacity: 0.3 !important;
				}
				&Wrap {
					top: -0.5em;
				}
			}
		}
		&-arrow {
			width: 1.563em;
			height: 4.438em;
			position: absolute;
			top: 50%;
			margin-top: -2.2em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			opacity: .1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .2;
			}
		}
		&-next {
			background-image: url('../img/next.svg');
			right: 2.5em;
		}
		&-prev {
			background-image: url(../img/prev.svg);
			left: 2.5em;
		}
	}
}

.process {
	.container_center {}
	.section__title {}
	&__video {
		max-width: 56.625em;
		margin: auto;
	}
	&__bottom {
		position: relative;
		background: url('../img/process-grid.png') no-repeat center center;
		background-size: 100% 100%;
		padding: 6.3em 7.3em 8em;
		margin-top: -6.6em;
	}
	&__grid {
		margin-left: -1.8em;
		> div {
			padding-left: 1.8em;
		}
		&Item {
			position: relative;
			padding-left: 2.5em;
			color: #767575;
			font-family: "Gotham Pro";
			font-size: 0.875em;
			font-weight: 400;
			line-height: 1.4;
			&:before {
				content: '';
				position: absolute;
				width: 1.2em;
				height: 1.6em;
				top: 0;
				left: 0;
				background: url('../img/point-icon.svg') no-repeat center center;
				background-size: 100%;
			}
		}
	}
}

.laser {
	margin-bottom: 3em;
	.container_center {
		@extend %clear_a;
		background: url('../img/laser.png') no-repeat bottom center;
		background-size: 19em;
		max-width: 80em;
	}
	.section__title {
		margin-bottom: 3em;
	}
	.section__titleSub {}
	.txt_warning {}
	.section__sub {}
	&__left {
		float: left;
		width: 36%;
	}
	&__right {
		float: right;
		width: 36%;
		.laser {
			&__item {
				text-align: left;
			}
			&__img {
				float: left;
				margin-right: 2em;
			}
		}
	}
	&__item {
		@extend %clear_a;
		margin-bottom: 2em;
		text-align: right;
	}
	&__img {
		float: right;
		margin-left: 2em;
		width: 5em;
	}
	&__text {
		overflow: hidden;
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 4.8em;
			vertical-align: middle;
			
		}
		span {
			vertical-align: bottom;
			display: inline-block;
			max-width: 99%;
		}
	}
}

.atelier {
	margin-bottom: 2em;
	.container_center {
		max-width: 80em;
	}
	.section__title {}
	&Slider {
		&__item {
			position: relative;
		}
		&__descr {
			background-color: $color_success;
			color: #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50%;
			padding: 1.3em;
			border-radius: 0.6em;
			font-family: "Gotham Pro";
			font-weight: 500;
			text-align: center;
			
			a {
				color: #fff;
				text-decoration: none;
				display: inline-block;
				padding-bottom: .2em;
				border-bottom: 0.1em dotted;
				&:hover {
					border-color: transparent;
				}
			}
		}
		&__top {
			text-align: left;
			margin-bottom: 0.9em;
			@extend %clear_a;
			&Item {
				float: left;
				width: 50%;
				&:last-child {
					border-left: 1px solid;
					padding-left: 1em;
				}
			}
			a {
				border-bottom: none;
				
			}
		}
		&__name {
			font-size: 1em;
			margin-bottom: 0.7em;
		}
		&__data {
			font-size: 1.25em;
		}
		.slick {
			&-slide {
				margin: 0 11.2em;
			}
			&-list {
				overflow: initial;
			}
			&-current {
				
			}
			&-arrow {
				width: 1.8em;
				height: 4.8em;
				position: absolute;
				top: 50%;
				margin-top: -2.2em;
				color: transparent;
				border: none;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center;
				opacity: .1;
				z-index: 10;
				cursor: pointer;
				outline: 0;
				transition: all .3s;
				&:hover {
					opacity: .2;
				}
			}
			&-next {
				background-image: url('../img/next.svg');
				right: 2.5em;
			}
			&-prev {
				background-image: url(../img/prev.svg);
				left: 2.5em;
			}
		}
	}
}

.bestChoice {
	.container_center {
		max-width: 77em;
	}
	.section__title {}
	.section__sub {}
	&__grid {
		margin-top: 4em;
		margin-bottom: 4em;
		color: #757374;
		font-family: "Gotham Pro";
		&Item {
			padding: 2em;
			&_last {
				box-shadow: 0.688em 1.125em 4.938em rgba(118, 117, 117, 0.3);
				border-radius: 0.563em;
				border: 0.063em solid #cfffbc;
				background-color: #fffaff;
			}
		}
	}
	&__name {
		font-size: 1.125em;
		font-weight: 700;
		margin-bottom: 2em;
	}
	&__list {}
	&__item {
		margin-bottom: 2.3em;
		color: #3fcf00;
		font-size: .81em;
		font-weight: 400;
		padding-left: 2em;
		&_error {
			color: $color_danger;
		}
	}
}
