/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
// @include font-face("ArialMT", fonts/CenturyGothic, normal, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';


.txt {
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			color: $color_bg;
		}	
	}	
}

.firstScreen {
	background: url('../img/first-bg.jpg') no-repeat center center;
	background-size: cover;
	.container_center {
		position: relative;
	}
	&__content {
		
	}
	&__title {
		margin: 0.4em auto 0.1em;
		font-size: 3.4em;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: $color_dark;
		font-weight: 700;
	}
	&__sub {
		font-size: 3.4em;
		text-transform: uppercase;
		color: $color_warning;
		margin-bottom: 0.8em;
	}
	&__action {

	}
	&__item {
		@extend %clear_a;
		margin-bottom: 2.3em;
		> div {
			float: left;
			margin-right: 3em;
			@extend %clear_a;
			&:last-child {
				.firstScreen {
					&__item {
						&Img {
							img {
								width: 12em;
								top: 0.4em;
								left: -6.5em;
							}
						}
						&Text {
							width: 30em;
						}
					}
				}
			}
		}
		&Img {
			float: left;
			width: 5.7em;
			img {
				position: relative;
				left: -3.9em;
				max-width: none;
				width: 9.4em;
				display: block;
			}
		}
		&Text {
			padding-top: 3.9em;
			line-height: 1.8;
			text-transform: uppercase;
			max-width: 22.8em;
			font-size: 0.87em;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 4.7em;
				left: 4em;
				width: 2em;
				height: 1px;
				background-color: rgba(#000, .3);
			}
		}
	}
	&__action {
		margin-bottom: 8.7em;
		@extend %clear_a;
		&Left {
			float: left;
			font-size: 1.6em;
			margin-right: 1.5em;
			padding-right: 5.6em;
			background: url('../img/50.png') no-repeat right center;
			background-size: 4.3em;
			position: relative;
			b {
				font-size: 1.14em;
				text-transform: uppercase;
				display: block;
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 10.65em;
				height: 5.063em;
				background: url('../img/ellipse-first.png') no-repeat center center;
				background-size: 100%;
				top: 53%;
				left: 90%;
			}
		}
	}
	&__right {
		overflow: hidden;
	}
	&__list {
		position: absolute;
		right: 5em;
		top: -1.6em;
		width: 15.9em;
		text-transform: uppercase;
		&Item {
			padding-left: 3em;
			font-size: 0.8em;
			line-height: 1.9;
			margin-bottom: 2.1em;
			position: relative;
			&:before {
				content: '';
				width: 2em;
				height: 2em;
				background: url('../img/point-icon.svg') no-repeat center center;
				display: block;
				position: absolute;
				top: 1em;
				left: 0;
			}
		}
	}
	.btn {
		background-image: url(../img/btn-top.png);
		width: 27.7em;
		margin-top: -0.5em;
	}
	.btn_danger {}
}
