/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
@include font-face("Gilroy", '../fonts/Gilroy-Regular', normal, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Light', 300, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Bold', 600, normal);
@include font-face("Gilroy", '../fonts/Gilroy-SemiBold', 700, normal);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBoldItalic', 900, italic);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBold', 900, normal);

@include font-face("Gotham Pro", '../fonts/GothamPro', normal, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Light', 300, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Medium', 500, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Bold', 600, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Black', 900, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'vendor/slick';
@import 'vendor/modal';


.txt {
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			color: $color_bg;
		}	
	}	
}

.cursor {
	display: inline-block;
	width: 1.188em;
	height: 0.938em;
	background: url('../img/cursor.png') no-repeat center center;
	background-size: 100%;
}

.wrapper {
	&_success {
		background: url('../img/success-bg.jpg') no-repeat center center;
		background-size: cover;
		.firstScreen {
			background-image: none;
		}
	}
}

.firstScreen {
	background: url('../img/first-bg.jpg') no-repeat center center;
	background-size: cover;
	font-family: Gilroy;
	font-weight: 400;
	// padding-bottom: 10px;
	b {
		font-weight: 600;
	}
	.container_center {
		position: relative;
		@extend %clear_a;
	}
	&__content {
		
	}
	&__title {
		margin: 0.48em auto 0em;
		font-size: 3.5em;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		font-family: Gilroy;
		color: $color_dark;
		font-weight: 700;
	}
	&__sub {
		font-family: Gilroy;
		font-size: 3.4em;
		text-transform: uppercase;
		color: $color_warning;
		margin-bottom: 0.8em;
		font-weight: 400;
		letter-spacing: 0.01em;
	}
	&__action {
		@extend %clear_a;
	}
	&__item {
		@extend %clear_a;
		margin-bottom: 2.3em;
		> div {
			float: left;
			margin-right: 3.1em;
			@extend %clear_a;
			&:last-child {
				.firstScreen {
					&__item {
						&Img {
							img {
								width: 12em;
								top: 0.4em;
								left: -6.5em;
							}
						}
						&Text {
							width: 30em;
						}
					}
				}
			}
		}
		&Img {
			float: left;
			width: 5.7em;
			img {
				position: relative;
				left: -3.9em;
				max-width: none;
				width: 9.4em;
				display: block;
			}
		}
		&Text {
			padding-top: 3.9em;
			line-height: 1.8;
			text-transform: uppercase;
			max-width: 22.8em;
			font-size: 0.87em;
			position: relative;
			padding-right: 2em;
			&:before {
				content: '';
				position: absolute;
				top: 4.7em;
				left: 4em;
				width: 2em;
				height: 1px;
				background-color: rgba(#000, .3);
			}
		}
	}
	&__action {
		margin-bottom: 8.7em;
		@extend %clear_a;
		&Left {
			float: left;
			font-size: 1.6em;
			margin-right: 1.5em;
			padding-right: 5.4em;
			background: url('../img/50.png') no-repeat right center;
			background-size: 4.3em;
			position: relative;
			b {
				font-size: 1.25em;
				text-transform: uppercase;
				display: block;
				margin-bottom: -0.1em;
				font-family: Gilroy;
				font-weight: 600;
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 10.65em;
				height: 5.063em;
				background: url('../img/ellipse-first.png') no-repeat center center;
				background-size: 100%;
				top: 53%;
				left: 90%;
			}
		}
	}
	&__right {
		overflow: hidden;
	}
	&__list {
		position: absolute;
		right: 4.9em;
		top: -1.9em;
		width: 16em;
		text-transform: uppercase;
		&Item {
			padding-left: 3em;
			font-size: 0.8em;
			line-height: 1.9;
			margin-bottom: 2.3em;
			position: relative;
			font-family: Gilroy;
			font-weight: 700;
			letter-spacing: 0.1em;
			b {
				font-family: Gilroy;
				font-weight: 600;
			}
			&:before {
				content: '';
				width: 2em;
				height: 2em;
				background: url('../img/point-icon.svg') no-repeat center center;
				display: block;
				position: absolute;
				top: 1em;
				left: 0;
			}
		}
	}
	.btn {
		background-image: url(../img/btn-top.png);
		width: 27.7em;
		margin-top: -0.5em;
	}
	.btn_danger {}
	@media (max-width: 767px) {
		text-align: center;
		background-position: bottom right -296px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#fff, 0.7);
		}
		&__title {
			font-size: 26px;
		}
		&__sub {
			font-size: 26px;
		}
	    &__list {
	    	position: static;
	    	width: 100%;
	    	text-align: left;
	    	margin: auto;
	    	max-width: 200px;
	    }
	    &__item {
	    	margin-left: -20px;
	    	> div {
	    		padding-left: 20px;
	    		width: 50%;
	    		margin-right: 0;
	    		&:last-child {
	    			.firstScreen__item {
						&Img {
							margin-left: -19px;
						}
	    			}
	    		}
	    	}
	    	&Img {
	    		float: none;
	    		margin-bottom: -24px;
	    		width: 100%;
	    		min-height: 149px;
	    		img {
	    			margin: 0;
	    			position: static;
	    		}
	    	}
	    	&Text {
	    		padding: 0;
	    		max-width: none;
	    		width: 100% !important;
	    		br {
	    			display: none;
	    		}
	    		&:before {
	    			display: none;
	    		}
	    	}
	    }
	    &__action {
	    	text-align: left;
	    	margin-bottom: 20px;
	    	&Left {
	    		font-size: 1.5em;
	    		padding: 0.8em;
	    		width: 100%;
	    		background-color: #fff;
	    		&:after {
	    			display: none;
	    		}
	    	}
	    	&Right {
	    		text-align: center;
	    	}
	    	.btn {
	    		position: relative;
	    	}
	    }
	}
}

.discount {
	text-align: center;
	background: url('../img/discount-bg.png') no-repeat top 5em center;
	background-size: auto 39em;
	padding: 5em 0;
	.container_center {}
	&__title {
		font-size: 2.188em;
		font-weight: 600;
		margin-bottom: 1.6em;
		color: $color_dark;
		letter-spacing: -0.05em;
	}
	&__top {
		font-size: 0.75em;
		text-transform: uppercase;
		padding-bottom: 25.6em;
		max-width: 54.2em;
		margin: 0 auto;
		text-align: left;
		@extend %clear_a;
	}
	&__left {
		float: left;
		
	}
	&__right {
		float: right;
		
	}
	&__count {
		font-size: 3.71em;
		color: $color_info;
		letter-spacing: 0.028em;
		vertical-align: top;
		text-transform: none;
		margin-bottom: 0.05em;
		font-family: "Gotham Pro";
		font-weight: 400;
		span {
			display: inline-block;
			vertical-align: top;
			font-size: 0.6em;
		}
	}
	&__sub {
		font-size: 1.875em;
		color: #3f3e3e;
		font-weight: 600;
		margin-bottom: 0.1em;
		font-family: Gilroy;
	}
	&__info {
		color: $color_dark;
		font-size: 1.6em;
		margin-bottom: 2.2em;
		font-weight: 400;
		font-family: Gilroy;
	}
	@media (max-width: 767px) {
	    background-size: 768px;
	    background-position: top 58% center;
	    &__top {
	    	max-width: 260px;
	    }
	}
}

.section {
	&__title {
		color: $color_dark;
		font-family: Gilroy;
		font-size: 2.8em;
		text-align: center;
		font-weight: 600;
		margin: 0;
		// letter-spacing: .01em;
		&Sub {
			font-weight: normal;
			
		}
	}
	&__sub {
		color: #767575;
		font-family: Gilroy;
		font-size: 1.563em;
		font-weight: 500;
		text-align: center;
		
	}
	@media (max-width: 767px) {
	    &__title {
	    	font-size: 2.5em;
	    	br {
	    		display: none;
	    	}
	    }
	}
}

.package {
	overflow: hidden;
	margin-bottom: 3em;
	.section__title {
		margin-bottom: 1.36em;
	}
	.container_center {
		max-width: 92.6em;
	}
	&__action {
		@extend %clear_a;
		margin: auto;
		max-width: 72.6em;
		margin-bottom: 4em;
		&Left {
			background: url('../img/cards.png') no-repeat left center;
			padding: 0.5em;
			padding-left: 5.5em;
			margin-right: 1%;
			background-size: auto 100%;
			float: left;
			width: 61%;
			color: #767575;
			font-family: Gilroy;
			font-size: 1.56em;
			line-height: 1.4;
			font-weight: 500;
		}
		&Right {
			float: left;
			width: 34.3%;
			padding-top: .3em;
			.btn {
				width: 100%;
			}
			
		}
	}
	.btn {

	}
	@media (max-width: 767px) {
		.section__title {
			margin-bottom: 27px;
			// font-size: 26px;
			br {
				display: none;
			}
		}
		&__action {
			margin-bottom: 10px;
		    &Left {
				float: none;
				width: auto;
				padding: 135px 0 10px;
				background-size: auto 126px;
				background-position: top center;
				// padding-top: 103px;
				font-size: 13px;
				text-align: center;
		    }
		    &Right {
		    	float: none;
		    	width: auto;
		    }
		}
	}
}

.packageSlider {
	margin-bottom: 2.9em;
	&__item {
		position: relative;
		margin: 0 1.8em;
		text-align: center;
		background-color: rgba(69, 73, 76, 0.03);
		box-shadow:  0 0 5.45em rgba(69, 73, 76, 0.1);
		cursor: pointer;
		
		&Wrap {
			padding: 1.8em 1.5em;
			background: url('../img/package-slide.png') no-repeat center center;
			background-size: 100% 100%;
			position: relative;
			z-index: 1;
			top: 0;
			transition: all .3s;
		}
		&:before,&:after {
			content: '';
			background: url('../img/package-slide.png') no-repeat center center;
			background-size: 100% 100%;
			position: absolute;
			top: 0.4em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: 0.2;
			transition: all .3s;
		}
		&:before {
			left: 2%;
			width: 96%;
			// top: 0.4em;
		}
		&:after {
			left: 4%;
			width: 92%;
			opacity: 0 !important;
			// top: .4em;
		}
	}
	&__name {
		color: #8a8a8a;
		font-family: Gilroy;
		font-size: 1.563em;
		font-weight: 500;
		margin-bottom: 0.67em;
	}
	&__price {
		color: #fec950;
		font-family: Gilroy;
		font-size: 2.063em;
		font-weight: 700;
		// margin-bottom: 0.3em;
		// line-height: 1;
		margin-bottom: 0.4em;
		.rub {
			font-size: 0.6em;
			vertical-align: text-top;
			
		}
	}
	&__old {
		opacity: 0.7;
		color: #000000;
		font-family: Gilroy;
		font-size: 0.638em;
		font-weight: 300;
		// line-height: 4.325em;
		text-decoration: line-through;
		display: inline-block;
		margin-right: 0.4em;
	}
	&__descr {
		opacity: 0.6;
		color: #000000;
		font-family: "Gotham Pro";
		font-size: 0.813em;
		font-weight: 300;
		min-height: 4.1em;
		line-height: 1.4;
	}
	.slick {
		&-slide {
			
		}
		&-list {
			overflow: initial;
		}
		&-current {
			.packageSlider {
				&__item {
					&Wrap {
						background-image: url(../img/package-slider-current.png);
					}
				}
			}
			&:hover {
				.packageSlider {
					&__item {
						&Wrap {
							top: -1em;
						}
					}
				}
				&:before {
					top: 0.1em;
					opacity: 0.4 !important;
				}
				&:after {
					top: 0.7em;
					opacity: 0.3 !important;
				}
				&Wrap {
					top: -0.5em;
				}
			}
		}
		&-arrow {
			width: 3.56em;
			height: 100%;
			position: absolute;
			top: 0;
			// margin-top: -2.2em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 2.3em auto;
			background-position: center;
			opacity: 1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		&-next {
			background-image: url('../img/next-lg.svg');
			right: 1.6em;
		}
		&-prev {
			background-image: url(../img/prev-lg.svg);
			left: 1.6em;
		}
	}
	@media (max-width: 767px) {
		margin: 0 0 30px;
	    &__item {
	    	margin-left: 4px;
	    	margin-right: 4px;
	    }
	}
}

.process {
	.container_center {
		max-width: 101.2em;
	}
	.section__title {
		margin-bottom: 0.9em;
	}
	&__video {
		max-width: 56.625em;
		margin: auto;
	}
	&__bottom {
		position: relative;
		background: url('../img/process-grid.png') no-repeat center center;
		background-size: 100% 100%;
		padding: 6.6em 8em 8.6em;
		margin-top: -12.1em;
		margin-bottom: -2.3em;
	}
	&__grid {
		margin-left: -5em;
		> div {
			padding-left: 5em;
		}
		&Item {
			position: relative;
			padding-left: 2.5em;
			color: #767575;
			font-family: "Gotham Pro";
			font-size: 0.9em;
			font-weight: 400;
			line-height: 1.58;
			&:before {
				content: '';
				position: absolute;
				width: 1.2em;
				height: 1.6em;
				top: 0;
				left: 0;
				background: url('../img/point-icon.svg') no-repeat center center;
				background-size: 100%;
			}
		}
	}
	@media (max-width: 767px) {
		&__bottom {
			background-color: #fff;
			background-image: none;
			margin: 0 0 45px;
			padding: 20px;
			box-shadow: 0.688em 1.125em 4.938em rgba(118, 117, 117, 0.16);
		}
	    &__grid {
	    	> div {
	    		width: auto;
	    	}
	    }
	}
}

.laser {
	margin-bottom: 5.1em;
	// font-weight: 400;
	.container_center {
		@extend %clear_a;
		background: url('../img/laser.png') no-repeat bottom center;
		background-size: 23.3em;
		max-width: 91em;
		padding-bottom: 2em;
	}
	.section__title {
		margin-bottom: 1.3em;
	}
	.section__titleSub {}
	.txt_warning {}
	.section__sub {}
	&__left {
		float: left;
		width: 36%;
	}
	&__right {
		float: right;
		width: 36%;
		.laser {
			&__item {
				text-align: left;
			}
			&__img {
				float: left;
				margin-right: 2em;
			}
		}
	}
	&__item {
		@extend %clear_a;
		margin-bottom: 4em;
		text-align: right;
	}
	&__img {
		float: right;
		margin-left: 2em;
		width: 5em;
		img {
			display: inline-block;
			vertical-align: bottom;
		}
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 5.3em;
			vertical-align: middle;
			
		}
	}
	&__text {
		overflow: hidden;
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 5.3em;
			vertical-align: middle;
			
		}
		span {
			vertical-align: bottom;
			display: inline-block;
			max-width: 99%;
		}
	}
	@media (max-width: 767px) {
		.container_center {
	    	background-image: none;
		}
		&__left,&__right {
			float: none;
			width: auto;
			text-align: center;
			font-size: 12px;
		}
		&__img {
			float: none !important;
			width: auto;
			margin-bottom: 20px;
			&:before {
				display: none;
			}
		}
		&__item {
			text-align: center !important;
		}
		&__text {
			&:before {
				display: none;
			}
		}
	}
}

.atelier {
	padding-bottom: 10.7em;
	overflow: hidden;
	position: relative;
	.container_center {
		max-width: 76em;
	}
	.section__title {
		margin-bottom: 0.85em;
		font-size: 3.2em;
	}
	&Slider {
		&__item {
			position: relative;
			img {
				display: block;
				width: 100%;
			}
		}
		&__descr {
			background-color: $color_success;
			color: #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 60%;
			padding: 1.6em 2.3em 1.3em;
			border-radius: 0.6em;
			font-family: "Gotham Pro";
			font-weight: 500;
			text-align: center;
			
			a {
				color: #fff;
				text-decoration: none;
				display: inline-block;
				padding-bottom: .2em;
				border-bottom: 0.1em dotted;
				position: relative;
				z-index: 7;
				&:hover {
					border-color: transparent;
				}
			}
		}
		&__top {
			text-align: left;
			margin-bottom: 0.9em;
			@extend %clear_a;
			&Item {
				float: left;
				width: 50%;
				&:last-child {
					border-left: 1px solid rgba(#fff, 0.6);
					padding-left: 2.3em;
				}
			}
			a {
				border-bottom: none;
				position: relative;
				z-index: 7;
				
			}
		}
		&__name {
			font-size: 1em;
			margin-bottom: 1.4em;
		}
		&__data {
			font-size: 1.25em;
		}
		.slick {
			&-slide {
				margin: 0 7.3em;
				opacity: 0.7;
				transition: all .3s;
			}
			&-list {
				overflow: initial;
			}
			&-current {
				opacity: 1;
			}
			&-arrow {
				width: 14em;
				height: 100%;
				position: absolute;
				top: 0;
				// margin-top: -2.2em;
				color: transparent;
				border: none;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: 3.3em;
				background-position: center;
				// opacity: .1;
				z-index: 10;
				cursor: pointer;
				outline: 0;
				transition: all .3s;
				&:hover {
					opacity: .8;
				}
			}
			&-next {
				background-image: url('../img/next-lg.svg');
				right: -7em;
			}
			&-prev {
				background-image: url(../img/prev-lg.svg);
				left: -7em;
			}
		}
	}
	@media (max-width: 767px) {
		padding-bottom: 70px;
		.section__title {
			font-size: 2.7em;
		}
		&Slider {
			&__descr {
				position: static;
				width: auto;
				border-radius: 0 0 5px 5px;
			}
			&__top {
				text-align: center;
				&Item {
					float: none;
					width: 100%;
					margin-bottom: 20px;
					&:last-child {
						border-left: none;
						padding-left: 0;
					}
				}
				a {
				}
			}
			&__name {
				margin-bottom: 10px;
			}
		}
	    .slick {
	    	&-slide {
	    		margin-left: 5px;
	    		margin-right: 5px;
	    	}
	    	&-arrow {
	    		display: none !important;
	    	}
	    }
	}
}

.bestChoice {
	margin-bottom: -1.3em;
	.container_center {
		max-width: 88em;
	}
	.section__title {
		font-weight: 600;
		font-size: 3.2em;
		margin-bottom: 0.05em;
	}
	.section__sub {
		font-size: 1.6em;
		// margin-bottom: 0.7em;
	}
	&__grid {
		margin-top: 3.6em;
		margin-bottom: 4em;
		color: #757374;
		font-family: "Gotham Pro";
		&Item {
			padding: 1.6em 2.4em;
			&_last {
				box-shadow: 0.688em 1.125em 4.938em rgba(118, 117, 117, 0.3);
				border-radius: 0.563em;
				// border: 0.063em solid #cfffbc;
				background-color: #fffaff;
			}
		}
	}
	&__name {
		font-size: 1.1em;
		font-weight: 600;
		margin-bottom: 1.4em;
	}
	&__list {}
	&__item {
		margin-bottom: 2.2em;
		color: #3fcf00;
		font-size: 1em;
		font-weight: 400;
		padding-left: 1.7em;
		line-height: 1.4;
		position: relative;
		&:before {
			content: '✔';
			display: block;
			position: absolute;
			left: 0;
			top: -0.2em;
			font-size: 1.3em;
		}
		&_error {
			color: $color_danger;
			&:before {
				content: '✖';
				
			}
		}
	}
	@media (max-width: 767px) {
		.section__title {
			font-size: 2.7em;
		}
		.section__sub {
			font-size: 1.4em;
		}
		&__grid {
			margin-top: 3em;
			margin-bottom: 3em;
			// color: #757374;
			// font-family: "Gotham Pro";
			> div {
				width: 100%;
			}
			&Item {
				padding: 0;
				&_last {
					box-shadow: none;
					border-radius: 0;
					// border: 0.063em solid #cfffbc;
					background-color: #fff;
				}
			}
		}
	}
}

.laserSettings {
	background: url('../img/laserSettings.png') no-repeat center bottom;
	background-size: 100% auto;
	padding-bottom: 25.3em;
	margin-bottom: -2.2em;
	.container_center {
		max-width: 78.9em;
	}
	.section__title {
		max-width: 19em;
		font-size: 3.2em;
		font-weight: 600;
		margin: 0 auto 2.7em;
	}
	&__left {
		max-width: 28.1em;
	}
	&__list {
		font-size: 1em;
		line-height: 1.4;
		counter-reset: laserSettings;
	}
	&__item {
		margin-bottom: 1.8em;
		position: relative;
		padding-left: 2.7em;
		&:before {
			counter-increment: laserSettings;
			content: counter(laserSettings);
			color: #78dbdd;
			font-size: 2.9em;
			position: absolute;
			font-weight: 300;
			display: block;
			top: -0.2em;
			left: 0;
		}
		// padding-left: 2em;
	}
	@media (max-width: 767px) {
		padding-bottom: 200px;
		background-size: auto 200px;
		.section__title {
			font-size: 2.7em;
			margin-bottom: 30px;
		}
	}
}

.warranty {
	background: url('../img/warranty-bg.png') no-repeat center center;
	background-size: 100%;
	margin-bottom: 4.4em;
	.container_center {
		max-width: 73em;
		text-align: center;
	}
	.section__title {
		// font-weight: 600;
		margin: auto;
		margin-bottom: 0.6em;
		max-width: 21em;
	}
	&Grid {
		justify-content: center;
		margin-left: -4em;
		> div {
			padding-left: 4em;
			margin-bottom: 2.2em;
		}
		&__img {
			margin-bottom: 0.5em;
			min-height: 12.1em;
			&:before {
				content: '';
				display: inline-block;
				height: 12.1em;
				vertical-align: baseline;
			}
			img {
				max-height: 100%;
				display: inline-block;
				vertical-align: baseline;
			}
		}
		&__text {
			line-height: 1.4;

		}
	}
	@media (max-width: 767px) {
	    &Grid {
	    	> div {
	    		width: auto;
	    		margin-bottom: 39px;
	    	}
	    	&__img {
	    		min-height: initial;
	    		img {
	    			max-width: 50%;
	    			margin-bottom: 10px;
	    		}
	    		&:before {
	    			display: none;
	    		}
	    	}
		    &__text {
		    	font-size: 12px;
		    }
	    }
	}
}

.epilation {
	margin-bottom: 6.8em;
	.container_center {
		max-width: 85.7em;
		background: url('../img/epilation-bg.png') no-repeat bottom -1.1em left;
		background-size: 85.7%;
		// padding-bottom: 0em;
	}
	.section__title {
		margin-bottom: 0.6em;
	}
	.section__titleSub {}
	.section__sub {
		margin-bottom: 3.3em;
	}
	&__list {
		padding-left: 41em;
		padding-bottom: 0.8em;
		&Item {
			margin-bottom: 1.5em;
			max-width: 23em;
			&:first-child {
				
			}
			&:nth-child(2) {
				margin-left: 9.1em;
				max-width: 15em;
			}
			&:last-child {
				margin-top: -3em;
				margin-left: 22.8em;
				// margin-bottom: 8em;
			}
		}
		&Img {
			margin-bottom: 0.4em;
			padding-left: 0.8em;
		}
		&Text {
			font-size: 1.2em;
			line-height: 1.3;
			b {
				display: block;
				// margin-bottom: -0.6em;
			}
		}
	}
	@media (max-width: 767px) {
		.container_center {
			padding-bottom: 140px;
			background-size: auto 200px;
		}
		&__list {
			padding-left: 0;
			&Item {
				margin-bottom: 1.5em;
				max-width: inherit !important;
				margin: 0 0 30px !important;
				text-align: center;
				br {
					display: none;
				}
				&:first-child {
					
				}
				&:nth-child(2) {
					margin-left: 9.1em;
					max-width: 15em;
				}
				&:last-child {
					margin-top: -3em;
					margin-left: 22.8em;
					// margin-bottom: 8em;
				}
			}
			&Img {
				margin-bottom: 0.4em;
				padding-left: 0.8em;
			}
			&Text {
				font-size: 1.2em;
				line-height: 1.3;
				b {
					display: block;
					// margin-bottom: -0.6em;
				}
			}
		}
	}
}

.saving {
	background: url('../img/saving-bg.png') no-repeat top 5em center;
	background-size: 100%;
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 28em;
		background: url('../img/saving-lenta.png') no-repeat center center;
		background-size: 100%;
		position: absolute;
		bottom: 14em;
		z-index: 2;
	}
	.container_center {
		max-width: 92em;
	}
	.section__title {
		font-weight: 600;
		letter-spacing: 0.06em;
		margin-bottom: 0.9em;
		font-size: 2.95em;
	}
	&Grid {
		margin-bottom: 1.2em;
		> div {
			&:last-child {
				img {
					margin-left: -5.6em;
				}
			}
		}
		&__item {
			text-align: center;
			&:last-child {
				img {
				}
			}
		}
		&__img {
			img {
				display: inline-block;
			}
		}
		&__text {
			width: 68%;
			margin-left: 16%;
			font-size: 1.1em;
			line-height: 1.5;
		}
	}
	&Plate {
		background: url('../img/saving-plate.png') no-repeat center center;
		background-size: 100% 100%;
		margin: auto;
		max-width: 67em;
		text-align: center;
		padding: 8.2em 12em 12.4em;
		&__text {
			font-size: 1.65em;
			font-family: Gilroy;
			font-weight: 500;
			line-height: 1.3;
			margin-bottom: 1.9em;
			b {
				font-weight: 900;
			}
		}
		&__action {
			position: relative;
			z-index: 3;
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 50px;
		&:after {
			display: none;
		}
		.section__title {
			font-size: 2.7em;
			letter-spacing: 0.7px;
		}
		&Grid {
			> div {
				width: auto;
			}
		}
		&Plate {
			background-image: none;
			background-color: #fff;
			box-shadow: 0 1.313em 7.313em rgba(212, 216, 219, 0.6);
			padding: 20px;
			&__text {
				font-size: 1.55em;
				b {
				}
			}
			&__action {
			}
		}
	}
}

.staff {
	margin-bottom: 4.6em;
	overflow: hidden;
	padding-bottom: 3em;
	.container_center {}
	.section__title {
		font-weight: 600;
		margin-bottom: 1em;
	}
	&__img {
		float: left;
		position: relative;
		padding: 0.2em 2em 0.9em 4em;
		width: 40.3%;
		img {
			width: 100%;
		}
		&Name {
			position: absolute;
			bottom: -0.4em;
			right: 1.3em;
			background-color: $color_primary;
			border-radius: 0.3em;
			padding: 1em 2.8em;
			color: rgba($color_withe, .7);
			font-family: Gilroy;
			font-size: 1.125em;
			font-weight: 300;
			width: 67%;
			b {
				font-size: 1.375em;
				font-weight: 700;
				color: $color_withe;
				display: block;
				margin-bottom: .3em;
			}
		}
	}
	&__descr {
		overflow: hidden;
		padding: 4.1em 4.9em;
	}
	&Slider {
		&__item {
			border: 0.063em solid rgba(#3fcad6, .5);
			margin: 0 6.6em;
			@extend %clear_a;
		}
	}
	&Grid {
		margin-bottom: 1.1em;
		line-height: 1.4;
		> div {
			margin-bottom: 1.9em;
			&:last-child {
				width: 66.6%;
			}
		}
		&__item {
			b {
				color: #767575;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		&__label {
			color: rgba(#767575, .78);
			font-size: 0.875em;
			font-weight: 400;
			min-height: 2.9em;
		}
	}
	&Bottom {
		display: table;
		> div {
			display: table-cell;
			vertical-align: middle;
		}
		&__img {
			width: 5.4em;
		}
		&__text {
			padding-left: 1.6em;
			line-height: 1.4;
			color: rgba(#767575, .78);
			font-size: 1.07em;
		}
	}
	.slick {
		&-slide {
			
		}
		&-list {
			overflow: initial;
		}
		&-current {
		}
		&-arrow {
			width: 3em;
			height: 100%;
			position: absolute;
			top: 0;
			// margin-top: -2.2em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			// opacity: .1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		&-next {
			background-image: url('../img/next-lg.svg');
			right: -1.5em;
		}
		&-prev {
			background-image: url(../img/prev-lg.svg);
			left: -1.6em;
		}
	}
	@media (max-width: 767px) {
		&Grid {
			> div {
				width: 50%;
				&:last-child {
					width: 100%;
				}
			}
		}
		&Slider {
			&__item {
				margin: 0 5px;
			}
		}
		&__img {
			float: none;
			// overflow: hidden;
			padding: 0.2em 2em 0.9em 0;
			width: auto;
			background-color: $color_primary;
			z-index: 1;
			// z-index: 2;
			img {
				display: inline-block;
				width: 47%;
				margin-bottom: -53px;
				margin-top: -30px;
			}
			&Name {
				bottom: 0;
				right: 0;
				border-radius: 0;
				padding: 10px;
				font-size: 1.2em;
				width: 53%;
				b {
					font-size: 1.3em;
				}
			}
		}
		&__descr {
			overflow: hidden;
			padding: 20px;
			position: relative;
			z-index: 3;
			background-color: #f0f0f0;
		}
		&Slider {
			&__item {
			}
		}
		&Grid {
			> div {
				&:last-child {
				}
			}
			&__item {
				b {
				}
			}
			&__label {
			}
		}
		&Bottom {
			> div {
			}
			&__img {
				width: 5.4em;
			}
			&__text {
			}
		}
		.slick {
			&-slide {
				
			}
			&-list {
			}
			&-current {
			}
			&-arrow {
				display: none !important;
				&:hover {
				}
			}
		}
	}
}

.jobs {
	position: relative;
	padding-bottom: 6.75em;
	margin-bottom: -1.7em;
	overflow: hidden;
	&:after {
		content: '';
		width: 100%;
		padding-bottom: 28.7%;
		// height: 29em;
		background: url('../img/jobs-bottom.png') no-repeat center center;
		background-size: 100% auto;
		// background-size: contain;
		position: absolute;
		bottom: 0;
	}
	.container_center {
		max-width: 80em;
	}
	.section__title {
		margin: auto;
		margin-bottom: 1.1em;
		max-width: 26em;
	}
	.section__titleSub {}
	&Slider {
		margin-bottom: 1.3em;
		&__item {
			margin: 0 9em;
			border-radius: 0.6em;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				// margin-bottom: -0.3em;
			}
		}
	}
	&Bottom {
		background: url('../img/jobs-plate.png') no-repeat center center;
		background-size: 100% 100%;
		padding: 5.3em 10em 8.8em 8em;
		margin: auto;
		max-width: 71.8em;
		@extend %clear_a;
		&__img {
			float: left;
			margin-right: 2.1em;
			width: 13.6em;
			margin-top: -2.7em;
			img {
				width: 100%;
			}
		}
		&__text {
			padding-top: 1.8em;
			overflow: hidden;
			line-height: 1.6;
			font-size: 1.37em;
			font-weight: 300;
			b {
				font-weight: 500;
			}
		}
	}
	.slick {
		&-slide {
			opacity: .5;
			transition: all .5s;
		}
		&-list {
			overflow: initial;
		}
		&-current {
			opacity: 1;
		}
		&-arrow {
			width: 16em;
			height: 100%;
			position: absolute;
			top: 0;
			// margin-top: -2.2em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			// background-size: 100% 100%;
			background-size: 3.5em;
			background-position: center;
			// opacity: .1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		&-next {
			background-image: url('../img/next-lg.svg');
			right: -8em;
		}
		&-prev {
			background-image: url(../img/prev-lg.svg);
			left: -8em;
		}
	}
	@media (max-width: 767px) {
		&:after {
			display: none;
		}
		&Slider {
			margin-bottom: 30px;
			&__item {
				margin: 0 5px;
				img {
				}
			}
		}
		.slick {
			&-arrow {
				display: none !important;
			}
		}
		&Bottom {
			background: none;
			background-size: 100% 100%;
			padding: 20px;
			box-shadow: 0 1.313em 7.313em rgba(212, 216, 219, 0.6);
			background-color: $color_withe;
			&__img {
				display: none;
			}
			&__text {
				padding: 0;
				font-size: 14px;
				b {
					font-weight: 500;
				}
			}
		}
	}
}

.review {
	overflow: hidden;
	margin-bottom: 8.7em;
	.container_center {
		max-width: 80em;
	}
	.section__title {
		margin: auto;
		margin-bottom: 1.5em;
		max-width: 22em;
	}
	.section__titleSub {}
	&Video {
		margin-bottom: 4em;
		&__item {
			margin: 0 4em;
		}
		&__grid {

		}
		.video__wrapper {
			padding-bottom: 61%;
		}
		.video__prev {}
	}
	.slick {
		&-slide {
			opacity: .5;
			transition: all .5s;
		}
		&-list {
			overflow: initial;
		}
		&-current {
			opacity: 1;
		}
		&-arrow {
			width: 3em;
			height: 100%;
			position: absolute;
			top: 0;
			// margin-top: -2.2em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			// opacity: .1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		&-next {
			background-image: url('../img/next-lg.svg');
			right: -1.5em;
		}
		&-prev {
			background-image: url(../img/prev-lg.svg);
			left: -1.6em;
		}
	}
	&Mobile {
		max-width: 24.9em;
		margin: auto;
		margin-bottom: 2em;
		&__item {
			img {
				display: inline-block;
				width: 100%;
			}
		}
		.slick {
			&-list {
				// overflow: initial;
				overflow: hidden;
			}			
			&-next {
				right: -8em;
			}
			&-prev {
				left: -8.1em;
			}
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 50px;
		&Video {
			margin-bottom: 4em;
			&__item {
				margin: 0 9px;
			}
			&__grid {
				> div {
					width: 100%;
					margin-bottom: 10px;
				}
			}
			.video__wrapper {
				padding-bottom: 61%;
			}
			.video__prev {}
			.slick {
				&-arrow {
					display: none !important;
				}
			}
		}
		&Mobile {
			max-width: 200px;
			margin: auto;
			margin-bottom: 2em;
			&__item {
			}
			.slick {
				&-arrow {
					background-size: 20px;
				}
				&-next {
					right: -3.5em;
				}
				&-prev {
					left: -3.5em;
				}
			}
		}
	}
}

.executive {
	font-family: Gilroy;
	font-weight: 300;
	padding-bottom: 16.2em;
	position: relative;
	background: url('../img/executive-bg.png') no-repeat bottom center;
	background-size: 100% auto;
	margin-bottom: 3em;
	@extend %clear_a;
	.container_center {
		max-width: 75em;
	}
	.section__title {
		margin-bottom: 0.5em;
	}
	.section__titleSub {}
	&__left {
		float: left;
		position: relative;
		margin-right: 6em;
		width: 34.1%;
	}
	&__img {
		display: block;
		img {
			width: 100%;
		}
	}
	&__name {
		background-color: $color_primary;
		border-radius: .5em;
		padding: 1.1em 2.5em;
		color: #fff;
		font-size: 1.125em;
		position: absolute;
		bottom: -2em;
		right: -1.9em;
		width: 93%;
		b {
			font-weight: 700;
			font-size: 1.27em;
			margin-bottom: 0.3em;
			display: block;
		}
	}
	&__right {
		padding-top: 4.1em;
		font-size: 1.375em;
		line-height: 1.6;
		color: #757474;
		position: relative;
		overflow: hidden;
	}
	&__signature {
		margin-top: 0.9em;
		width: 7.8em;
		img {
			width: 100%;
		}
	}
	@media (max-width: 767px) {
		background-image: none;
		padding-bottom: 0;
		.section__title {
			margin-bottom: 50px;
		}
	    &__left {
	    	float: none;
	    	width: auto;
	    	margin: 0;
	    	background-color: $color_primary;
	    	position: relative;
	    	z-index: 0;
	    }
		&__img {
			display: block;
			width: 33%;
			img {
				width: 100%;
				margin-top: -20px;
				margin-bottom: -13px;
			}
		}
		&__name {
			right: 0;
			bottom: 0;
			width: 66%;
			padding: 10px;
		}
		&__right {
			z-index: 1;
			background-color: #f0f0f0;
			padding: 10px;
			font-size: 13px;
		}
		&__signature {
			width: 100%;
			text-align: right;
			img {
				width: 74px;
			}
		}
	}
}

.callbackBox {
	margin-top: -7.9em;
	margin-bottom: 0.6em;
	.container_center {}
	.section__title {}
	&__wrap {
		background: url('../img/callbackBox-bg.png') no-repeat center center;
		background-size: 100% 100%;
		max-width: 81.9em;
		padding: 1em 8em 6em 0em;
		margin: auto;
		@extend %clear_a;
	}
	&__img {
		float: left;
		padding-top: 3em;
		margin-left: -2em;
		margin-right: -0.6em;
		width: 33%;
		img {
			width: 100%;
		}
	}
	&__form {
		padding: 7em 0 0;
		.grid {
			// margin-left: 3em;
			> div {
				padding-left: 0em;
			}
		}
	}
	@media (max-width: 767px) {
	    margin-top: 0;
	    margin-bottom: 60px;
	    &__wrap {
	    	background-image: none;
	    	padding: 20px;
	  //   	box-shadow: 0 1.313em 7.313em rgba(212, 216, 219, 0.6);
			// background-color: $color_withe;
	    }
	    &__img {
	    	display: none;
	    }
		&__form {
			padding: 0 0 0;
			.grid {
				// margin-left: 3em;
				padding-left: 20px;
				> div {
					width: 100%;
				}
			}
		}
	}
}

.faqs {
	margin-bottom: 7.5em;
	.container_center {
		max-width: 71em;
	}
	.section__title {
		margin: auto;
		margin-bottom: 1.2em;
		max-width: 19em;
	}
	.section__titleSub {}
	&__list {
		box-shadow: 0 1.313em 7.313em rgba(212, 216, 219, 0.6);
		background-color: $color_withe;
	}
	&__item {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.188em;
			background-color: rgba(#d0e3ec, 0.2);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		&.open {
			background-color: rgba(#d0e3ec, 0.2);
			&:after {
				display: none;
			}
			&:hover {
				.faqs__toggle {
				}
			}
			.faqs {
				&__item {
				}
				&__text {
					height: auto;
					padding: 0 2em 2em;
				}
				&__toggle {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	&__toggle {
		position: relative;
		padding: 2em;
		padding-right: 5em;
		color: #767373;
		font-weight: 500;
		cursor: pointer;
		transition: all .3s;
		font-size: 1.2em;
		&:after {
			content: '';
			width: 1em;
			height: .5em;
			background: url('../img/faqs-carret.svg') no-repeat center center;
			background-size: 100% auto;
			position: absolute;
			top: 2.3em;
			right: 2em;
			transition: all .3s;
		}
		&:hover {
		}
	}
	&__text {
		height: 0;
		padding: 0 2em;
		transition: all .3s;
		overflow: hidden;
	}
	@media (max-width: 767px) {
	    &__list {
	    	box-sizing: content-box;
	    	margin-left: -20px;
	    	margin-right: -20px;
	    }
	}
}

.contraindications {
	margin-bottom: 7.7em;
	.container_center {}
	.section__title {
		margin-bottom: .2em;
	}
	.section__sub {
		margin-bottom: 2.4em;
	}
	&__list {
		counter-reset: contraindications;
		columns: 3;
		column-width: 25em;
		&Item {
			color: #00bbb8;
			font-family: Gilroy;
			font-size: 1.125em;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 1.4em;
			@extend %clear_a;
			span {
				display: block;
				overflow: hidden;
			}
			&:before {
				counter-increment: contraindications;
				content: counter(contraindications) '.';
				display: inline-block;
				margin-right: 0.4em;
				float: left;
			}
		}
	}
	@media (max-width: 767px) {
	    background-color: #f0f0f0;
	    padding: 30px 0;
	    margin-bottom: 48px;
	}
}

.question {
	margin-bottom: 7.6em;
	.container_center {
		max-width: 81.2em;
	}
	.section__title {
		margin-bottom: 0.25em;
	}
	.section__sub {
		margin-bottom: 2.9em;
	}
	&__wrap {
		@extend %clear_a;
		box-shadow: 0 1.313em 7.313em rgba(212, 216, 219, 0.6);
		position: relative;
		border-radius: 0.5em;
		// overflow: hidden;
	}
	&__left {
		float: left;
		background-size: 100%;
		position: relative;
		z-index: 2;
		background-color: $color_primary;
		width: 28.3%;
		border-radius: 0 0 0 0.5em;
	}
	&__img {
		padding-right: 2em;
		padding-left: 1em;
		img {
			margin-top: -1.7em;
			width: 100%;
			margin-bottom: 3.5em;
		}
	}
	&__name {
		background-color: $color_primary;
		color: #fff;
		font-family: Gilroy;
		font-size: 1.125em;
		font-weight: 300;
		box-shadow: -1.187em 0.875em 6.625em rgba(31, 13, 4, 0.14);
		position: absolute;
		bottom: 0em;
		left: 0%;
		width: 100%;
		padding: 1.9em 3em;
		border-radius: 0 0 0 0.5em;
		b {
			font-weight: 700;
			font-size: 1.27em;
			display: block;
			margin-bottom: .2em;
		}
	}
	&__right {
		overflow: hidden;
		padding: 4.4em 3.4em 2em;
	}
	&__labelPreImg {
		float: left;
		display: block;
		width: 60%;
		font-size: 0.9em;
		b {
			font-size: 1.4em;
		}
	}
	&__labelImg {
		display: block;
		float: right;
		margin-top: -2.7em;
		width: 24.6%;
		margin-right: 13%;
		img {
			width: 100%;
		}
	}
	&__grid {

	}
	.form__label {
		display: block;
		margin-bottom: 0.8em;
		clear: both;
		@extend %clear_a;
	}
	.form__row {
		margin-bottom: 1em;
	}
	.btn {
		padding-top: 1.4em;
		padding-bottom: 1.9em;
		line-height: 1.5;
	}
	.form__privacy {
		margin-bottom: 0;
	}

	@media (max-width: 767px) {
		&__wrap {
			box-shadow: none;
		}
		&__left {
			float: none;
			background-size: 100%;
			width: 100%;
			border-radius: 0;
		}
		&__img {
			padding-right: 0;
			padding-left: 0;
			width: 33%;
			img {
				margin-top: -20px;
				width: 100%;
				margin-bottom: -30px;
			}
		}
		&__name {
			background-color: $color_primary;
			box-shadow: none;
			padding: 10px;
			border-radius: 0;
			width: 65%;
			right: 0;
			left: auto;
		}
		&__right {
			position: relative;
			z-index: 3;
			padding: 20px 0;
			background-color: #fff;
		}
		&__labelPreImg {
			float: none;
			width: auto;
			b {
			}
		}
		&__labelImg {
			display: none;
		}
		&__grid {
			> div {
				width: 100%;
			}
		}
	}
}

.mapBox {
	position: relative;
	padding: 5.4em 0 5.5em;
	margin-bottom: 2em;
	overflow: hidden;
	&:before,&:after {
		content: '';
		background: radial-gradient(ellipse 48% 50% at 50% 0%, transparent 100%, #fff 101%);
		position: absolute;
		left: 0;
		width: 100%;
		height: 3em;
		z-index: 10;
	}
	&:before {
		top: 0;
		transform: rotate(180deg);
	}
	&:after {
		bottom: 0;
	}
	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 170%;
		overflow: hidden;
		> ymaps {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
	&__slider {
		position: relative;
		text-align: center;
		margin: auto;
		max-width: 36em;
		&Item {
			background: url('../img/mapBox-bg.png') no-repeat center center;
			background-size: 100% 100%;
			padding: 2.3em 2em 6em;
			color: #fff;
		}
	}
	&__logo {
		img {
			display: inline-block;
			width: 5.6em;
			margin-bottom: 1.7em;
		}
	}
	&__phone {
		font-size: 2.25em;
		font-weight: 500;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 0.1em;
		color: #fff;
	}
	&__sub {
		font-size: 0.875em;
		margin-bottom: 1.5em;
	}
	&__grid {
		text-align: left;
		margin: auto;
		max-width: 25em;
		font-size: .9em;
		b {
			display: block;
			margin-bottom: 0.4em;
		}
	}
	.slick {
		&-slide {
		}
		&-list {
		}
		&-current {
		}
		&-arrow {
			width: 3em;
			height: 100%;
			position: absolute;
			top: 0;
			margin-top: -0.9em;
			color: transparent;
			border: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 1.375em;
			background-position: center;
			// opacity: .1;
			z-index: 10;
			cursor: pointer;
			outline: 0;
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		&-next {
			background-image: url('../img/next-white.svg');
			right: 1.5em;
		}
		&-prev {
			background-image: url(../img/prev-white.svg);
			left: 1.5em;
		}
	}
	@media (max-width: 767px) {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__slider {
			width: 90%;
		}
	    .slick {
			&-next {
				right: -0.1em;
			}
			&-prev {
				left: -0.1em;
			}
	    }
	}
}

.footer {
	position: relative;
	min-height: $footer_height;
	@extend %clear_all;
	.container_center {
		padding-top: 1.8em;
		padding-bottom: 2em;
		max-width: 87em;
		@extend %clear_a;
	}
	&__left {
		float: left;
	}
	&__logo {
		width: 12.9em;
		margin-right: 5.2em;
		img {
			width: 100%;
		}
	}
	&__right {
		float: right;
		margin-left: 2em;
		text-align: right;
	}
	&__title {
		font-size: 0.9em;
	}
	&__phone {
		margin-top: 2em;
		display: inline-block;
		font-size: 1.1em;
		color: #80cfff;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 0.1em dotted;
		&:hover {
			border-bottom-color: transparent;
		}
	}
	&__center {
		overflow: hidden;
		@extend %clear_a;
		&Left {
			float: left;
			margin-right: 2em;
			margin-right: 4em;
		}
		&Right {
			float: right;
			padding-top: 3.6em;
		}
		a {			
			color: #80cfff;
			font-weight: 400;
			text-decoration: none;
			border-bottom: 0.1em dotted;
			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
	&__inn {
		color: #414040;
		font-size: .9em;
		line-height: 1.7;
		margin-bottom: 1em;
	}
	&__time {
		
	}
	&__privacy {

	}
	&__soc {
		a {
			border: none;
		}
	}
	.header__itemName {
		margin-bottom: 2em;
	}
	.header__itemBotom {}
	.header__soc {}
	@media (max-width: 767px) {
		text-align: center;
	    &__left {
	    	float: none;
	    	width: auto;
	    	margin-bottom: 25px;
	    }
	    &__logo {
	    	width: auto;
	    	margin-right: 0;
	    	img {
	    		width: 160px;
	    	}
	    }
	    &__right {
	    	float: none;
	    	width: auto;
	    	text-align: center;
	    	margin-bottom: 25px;
	    	margin-left: 0;
	    }
	    &__title {
	    	font-size: 1.1em;
	    }
	    &__phone {
	    	margin-top: 15px;
	    	font-weight: 600;
	    	font-size: 1.8em;
	    }
	    &__center {
	    	&Left {
	    		float: none;
	    		width: auto;
	    		margin-right: 0;
	    		margin-bottom: 25px;
	    	}
	    	&Right {
	    		float: none;
	    		margin-left: 0;
	    		padding-top: 0;
	    		margin-bottom: 20px;
	    	}
	    }
	    &__soc {
	    	font-size: 1.2em;
	    }
	}
}

.choice {
	text-align: center;
	padding: 5em 0 14em;
	background: url('../img/choice-bg.png') no-repeat top 7em right;
	background-size: 81%;
	.container_center {
		max-width: 72em;
	}
	.section__title {
		margin-bottom: 0.35em;
	}
	.section__sub {
		margin-bottom: 1.35em;
		.txt_warning {
			display: inline-block;
			&:after {
				content: '';
				display: block;
				border: 1px solid #feca50;
				opacity: 0.4;
			}
		}
		b {
			font-weight: 900;
			font-size: 1.1em;
		}
	}
	&__swich {
		display: inline-block;
		margin-bottom: 1.8em;
		&Item {
			display: inline-block;
			white-space: nowrap;
			margin: 0 3.3em;
			@extend %clear_a;
			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
		&Left {
			float: left;
			padding-top: 0.5em;
		}
		&Right {
			float: right;
			padding-top: 0.5em;
			margin-left: 1em;
		}
		&Center {
			overflow: hidden;
			padding-left: 1em;
			padding-right: 2px;
			input {
				display: none;
				&:checked {
					+ .choice__toggler {
						&:before {
							content: '';
							left: auto;
							right: .2em;
						}
					}
				}
			}
		}
	}
	&__toggler {
		cursor: pointer;
		display: inline-block;
		width: 4.75em;
		height: 2.063em;
		border-radius: 1.063em;
		background-color: $color_primary;
		position: relative;
		&:before {
			content: '';
			width: 1.688em;
			height: 1.688em;
			border-radius: 0.813em;
			background-color: #fafefb;
			position: absolute;
			top: 0.2em;
			left: 0.2em;
		}
	}
	&__content {
		display: none;
		@extend %clear_a;
		&.active {
			display: block;
		}
	}
	&__left {
		float: left;
		text-align: left;
		position: relative;
		z-index: 3;
		padding-top: 1.5em;
		@media (max-width: 767px) {
		    float: none;
		}
	}
	&__right {
		float: right;
		text-align: left;
		position: relative;
		z-index: 3;
		padding-top: 1.5em;
		@media (max-width: 767px) {
		    float: none;
		}
	}
	&__center {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 2;
		text-align: center;
		@media (max-width: 767px) {
		    display: none;
		}
	}
	&__list {
		color: #5e5d5d;
		font-size: 1.125em;
		&Item {
			margin-bottom: 1.9em;
			cursor: pointer;
			padding: 0.6em 2em;
			&:hover {
				box-shadow: 0 0.813em 2.188em rgba(254, 215, 136, 0.3);
				border-radius: 1.875em;
				background-color: #ffd00c;
				background-image: linear-gradient(to top, rgba(237, 220, 77, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
				color: #fefeff;
				// .choice__list {
					.new {
						color: #fefeff;
					}
					.old {

					}
				// }
			}
		}
		.old {
			position: relative;
			display: inline-block;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				// height: 1px;
				// background-color: #5e5d5d;
				width: 81%;
				border-top: 1px solid;
			}
			.rub {
				// text-decoration: none;
			}
		}
		.rub {
			text-decoration: none;
			vertical-align: top;
			font-size: 0.7em;
			margin-left: .2em;
		}
		.new {
			color: #f9d528;
			font-size: 1.563em;
			font-weight: 600;
		}
	}
	&__body {
		width: 50%;
		// display: inline-block;
		display: none;
		margin: auto;
		&.active {
			// display: none;
			display: inline-block;
		}
	}
	&__head {
		width: 23.7%;
	}
	&__overlay {
		position: absolute;
		display: none;
		&Woman_fingers {
			left: 44.8%;
			top: 35.5%;
			width: 7.7em;
		}
		&Woman_hands {
			top: 29.6%;
			left: 39.9%;
			width: 17em;
		}
		&Woman_armpit {
			top: 21.1%;
			left: 44.6%;
			width: 1.5em;
		}
		&Woman_back {
			top: 15.8%;
			left: 45.8%;
			width: 7.1em;

		}
		&Woman_buttocks {
			top: 36.6%;
			left: 45.2%;
			width: 7.4em;
		}
		&Woman_bikini {
			top: 40%;
			left: 46.2%;
			width: 5em;
		}
		&Woman_deep-bikini {
			top: 39.4%;
			left: 45.2%;
			width: 6.6em;
		}
		&Woman_decollete {
			top: 18.8%;
			left: 47.5%;
			width: 4.4em;
			
		}
		&Woman_hands-full {
			top: 16%;
			left: 39.6%;
			width: 17.5em;
		}
		&Woman_belly {
			top: 28%;
			left: 45.4%;
			width: 6.9em;
		}
		&Woman_hip {
			top: 39.2%;
			left: 43.5%;
			width: 3em;
		}
		&Woman_shin {
			top: 56.9%;
			left: 45.6%;
			width: 5.3em;
		}
		&Woman_legs {
			top: 38.8%;
			left: 43.6%;
			width: 8.4em;
		}
		&Woman_toes {
			top: 89.7%;
			left: 45.1%;
			width: 6.7em;
		}
		&Woman_neck {
			top: 49.7%;
			left: 44.5%;
			width: 13.7em;
		}
		&Woman_cheekbones {
			top: 33.8%;
			left: 44.1%;
			width: 11em;
		}
		&Woman_forehead {
			top: 16%;
			left: 43.8%;
			width: 11.2em;			
		}
		&Woman_whisky {
			top: 27.7%;
			left: 42.9%;
			width: 13.5em;
		}
		&Woman_chin {
			top: 48%;
			left: 45.6%;
			width: 8.8em;
		}
		&Woman_eyebrows {
			top: 28.6%;
			left: 48.3%;
			width: 1.7em;
		}
		&Woman_lip {
			top: 45.6%;
			left: 47.5%;
			width: 4.7em;
		}
		// Man
		&Man_fingers {
			top: 49%;
			left: 42%;
			width: 12.5em;
		}
		&Man_hands {
			top: 18.1%;
			left: 41.9%;
			width: 12.9em;			
		}
		&Man_armpit {
			top: 25.8%;
			left: 44.5%;
			width: 7.8em;
		}
		&Man_back {
			top: 14.6%;
			left: 44%;
			width: 8.1em;
		}
		&Man_buttocks {
			top: 40.1%;
			left: 44.3%;
			width: 7.6em;
		}
		&Man_crotch {
			top: 40.8%;
			left: 44.7%;
			width: 6.8em;
		}
		&Man_groin {
			top: 40.6%;
			left: 44%;
			width: 8.3em;
		}
		&Man_bust {
			top: 17.5%;
			left: 44.5%;
			width: 7.9em;			
		}
		&Man_paunch {
			top: 28.1%;
			left: 44.8%;
			width: 7em;
		}
		&Man_hip {
			top: 40%;
			left: 44%;
			width: 8.2em;
		}
		&Man_shoulders {
			top: 14.8%;
			left: 42.9%;
			width: 11.4em;
		}
		&Man_legs {
			top: 50.3%;
			left: 43.5%;
			width: 8.7em;			
		}
		&Man_toes {
			top: 90.9%;
			left: 43.4%;
			width: 8.7em;

		}
		&Man_neck {
			top: 60.5%;
			left: 43.2%;
			width: 15.8em;
		}
		&Man_cheekbones {
			top: 44%;
			left: 45%;
			width: 10.8em;
		}
		&Man_forehead {
			top: 17.9%;
			left: 44.8%;
			width: 10.5em;
		}
		&Man_whisky {
			top: 34%;
			left: 44%;
			width: 12.4em;
		}
		&Man_chin {
			top: 60%;
			left: 47%;
			width: 6.5em;
		}
		&Man_eyebrows {
			top: 32.7%;
			left: 48.5%;
			width: 2.3em;			
		}
		&Man_lip {
			top: 54.5%;
			left: 47.7%;
			width: 4.3em;			
		}
	}
	@media (max-width: 767px) {
	    padding-bottom: 10px;
	    background: none;
	    &__swich {
	    	&Item {
	    		margin-left: 15px;
	    		margin-right: 15px;
	    	}
	    	&Left {
				span {
					display: none;
				}
	    	}
	    	&Right {
				span {
					display: none;
				}
	    	}
	    }
	    &__list {
	    	&Item {
	    		text-align: center;
	    	}
	    }
	}
}

.successContent {
	font-family: Gilroy;
	.container_center {
		max-width: 48em;
		@extend %clear_a;
	}
	&__wrap {
		float: right;
	}
	&__title {
		padding-top: 2em;
		margin: 0;
		margin-bottom: 0.3em;
		font-size: 3em;
		line-height: 1.1;
	}
	&__sub {
		font-size: 1.46em;
		margin-bottom: 0.6em;
	}
	&__mesage {
		color: #01aa73;
		font-size: 1.875em;
	}
	@media (max-width: 767px) {
		&__wrap {
			float: none;
		}
	}
}

.footer_success {
	.footer__centerRight {
		padding-top: 0;
	}
}
