.form {
	@extend %clear_a;
	&__legend {

	}
	&__row {
		margin-bottom: 15px;
		@extend %clear_a;
		input:not([type]),
		input[type=text],
		input[type=password],
		input[type=email],
		input[type=url],
		input[type=search],
		input[type=tel],
		input[type=number],
		input[type=datetime], 
		textarea,
		.btn {
			width: 100%;
		}
		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 15px;
		}
	}
	&__row {
		margin-bottom: 1.8em;
	}
	&__input {
		box-shadow: -0.6em -0.5em 2.875em rgba(0, 0, 0, 0.05);
		border-radius: 2.375em;
		background-color: $color_withe;
		padding: 0.2em;
	}
	&__label {
		font-family: Gilroy;
		color: $color_dark;
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.4;
		margin-bottom: 1.6em;
		b {
			font-weight: 900;
		}
	}
	&__action {

		.btn {

		}
	}
	&__privacy {
		text-align: center;
		margin-bottom: 0;
		label {
			font-family: Gilroy;
			font-size: 0.813em;
			font-weight: 400;			
		}
		input[type=checkbox] {
			margin-right: .2em;
		}
		a {
			color: #80cfff;
		}
	}
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: $input_bg_color;
	border: 0.063em solid rgba(#7e7c7c, .3);
	padding: 1.8em 2em;
	outline: none;
	font-size: 1em;
	font-weight: 400;
	font-family: $main_font_family;
	border-radius: 2.5em;
	transition: all .3s;
	text-align: center;
	color: rgba(#888686, .5);
	&:hover {
		border: 1px solid $input_hover_border_color;
		background-color: $input_hover_bg_color;;
	}
	&:focus {
		border: 1px solid $input_focus_border_color;
		background-color: $input_focus_bg_color;;
	}
	&.invalid {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: rgba(#888686, .5);
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
    display: inline-block;
	width: 1.55em;
	height: 1.55em;
	border-radius: 0.39em;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
	background-color: #00b7f4;
    text-align: center;
    position: relative;
	&:not(:disabled),
	&:not(:disabled) {
	    cursor: pointer;
	}
	&:before,
	&:before {
	    display: block;
	}
	&:disabled,
	&:disabled {
	    border-color: #ddd;
	}
}

input[type=radio] {
    border-radius: 50%;
	&:checked:before {
	    content: '';
	    width: 6px;
	    height: 6px;
	    top: 50%;
	    left: 50%;
	    margin-top: -3px;
	    margin-left: -3px;
	    display: block;
	    position: absolute;
	    border-radius: 50%;
	    background: #000;
	}
	&:disabled:checked:before {
	    background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
	    content: "\2714";
	    font-size: 1.3em;
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    line-height: 1.3;
	    color: #fff;
		background-color: #00b7f4;
	}

	&:indeterminate:before {
	    content: "\f068";
	}
	&:disabled:checked:before,
	&:disabled:indeterminate:before {
	    color: #aaa;
	}
}





